:root{
    --coffee-color-800: #7c4630;
    --coffee-color-700: #995635;
    --coffee-color-600: #b86c3e;
    --coffee-color-500: #c68149;
    --coffee-color-400: #ce955f;
    --coffee-color-300: #debc93;
    --coffee-color-200: #ebd8bd;
    --coffee-color-100: #f6edde;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


/* ----------------------Background Color--------------------- */
.bg-coffee-800{
    background-color: var(--coffee-color-800) !important;
}
.bg-coffee-700{
    background-color: var(--coffee-color-700) !important;
}
.bg-coffee-600{
    background-color: var(--coffee-color-600) !important;
}
.bg-coffee-500{
    background-color: var(--coffee-color-500) !important;
}
.bg-coffee-400{
    background-color: var(--coffee-color-400) !important;
}
.bg-coffee-300{
    background-color: var(--coffee-color-300) !important;
}
.bg-coffee-200{
    background-color: var(--coffee-color-200) !important;
}
.bg-coffee-100{
    background-color: var(--coffee-color-100) !important;
}

/* ------------------------------------------------------------- */

/* ----------------------Text Color---------------------------- */
.text-coffee-800{
    color: var(--coffee-color-800) !important;
}
.text-coffee-700{
    color: var(--coffee-color-700) !important;
}
.text-coffee-600{
    color: var(--coffee-color-600) !important;
}
.text-coffee-500{
    color: var(--coffee-color-500) !important;
}
.text-coffee-400{
    color: var(--coffee-color-400) !important;
}
.text-coffee-300{
    color: var(--coffee-color-300) !important;
}
.text-coffee-200{
    color: var(--coffee-color-200) !important;
}
.text-coffee-100{
    color: var(--coffee-color-100) !important;
}

/* ------------------------------------------------------------- */


.font-roboto{
    font-family: "Roboto Condensed", sans-serif !important;
}

.font-logo{
    font-family: "Dancing Script", cursive !important; 
    font-weight: bolder;
}

.hover-rular:hover{
    text-decoration: underline;
}

.hero{
    position: relative;
    /* background-image: url(/assets/imag/0a93b2c2-b668-42e4-af95-94b1179603aa.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: black;
}

.transition{
    transition: 0.3s ease-in-out;
}

.hover-bg:hover{
    background-color: var(--coffee-color-600);
    color: white;
}